.busca-titulo {
    color: #1d2501;
    font-size: 25px;
    text-align: center;
    padding: 5px 0;
    background-color:#c0d66d;
    font-family: 'Quicksand', sans-serif;
}

.busca-subtitulo{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.busca-formulario {
    display: flex;
    margin: 50px 30px 15px;
    padding: 30px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    align-items: center;
    justify-content: center
}

#zona{
    color: #dd6500;
    padding: 15 25px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0px 0px 10px #8cb600;    
}

.busca-lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 70px 15px;
}

.busca-lista-item {
    width: 40%;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #8cb600;
    animation: fadein 2s;
}

.busca-lista-item-titulo {
    font-size: 20px;
}

.busca-lista-item-imagem {
    width: 80%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media(max-width: 400px){

    .busca-titulo {
        font-size: 18px;
    }

    #zona{
        color: #dd6500;
        font-size: 17px;
        font-family: 'Quicksand', sans-serif;
        box-shadow: 0px 0px 10px #8cb600;    
    }


    .busca-lista {
        display: unset;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .busca-lista-item {
        width: 75%;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #8cb600;
        animation: fadein 2s;
    }

}