/* *{
    box-sizing: border-box;
} */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100vw;
    padding: 0 30px;
    background-color:#c0d66d;
    background-image: url("../../Imagens/fundo.png");
    background-size: cover;


}

.navbar-logo {
    height: 40px;
    padding: 20px;
}

.navbar-logo img {
    height: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

.navbar-links li {
    padding: 10px 20px;
}

.navbar-links a {
    color: #c0d66d;
    font-size: 20px;
    text-decoration: none;
    transition: 1s;
}

.navbar-links a:hover{
    color: #dd6500;
    transition: 1s;
}

/*Responsivo*/

@media(max-width:400px){

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 1;
        box-sizing: border-box;
        width: 157vw;
        padding: 0 25px;
        background-color:#c0d66d;
        background-image: url("../../Imagens/fundo.png");
        background-size: cover;
    }

    .navbar-logo {
        height: 20px;
        padding: 15px;
    }

    .navbar-logo img {
        height: 100%;
    }

    .navbar-links {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
    }



}