.secao {
    display: flex;
    align-items: center;
    padding: 80px;
    text-align: justify;
    line-height: 2;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}
 
.secao-imagem {
    height: 300px;
    width: 300px;
    margin-left: 50px;
    object-fit: cover;
    box-shadow: 0px 0px 15px #8cb600;
}
 